body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c3e50;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1; 
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 98%;
    box-shadow: 0 4px 2px -2px rgb(0, 0, 0);
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-item {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

.nav-item:hover {
    text-decoration: underline;
}

header {
    display: flex;
    align-items: left;
    padding: 100px 20px;
    text-align: left;
}
.linkedlogos {
    width: 200px;
    height: 200px;
    margin-top: 200px;
    margin-left: 100px;
}
.projectText{
    font-size: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    color: white;
    padding-top: 150px;
}
.projects{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: none;
}
.overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white; 
    display: flex;
    align-items: center ;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
}

.hugetext {
    text-wrap: wrap;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-top: 200px;
    padding-bottom: 300px;
    padding-left: 300px;
}
.content {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 100px 20px 50px;
    justify-content: center;
    flex-direction: column;
}

.contact {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: center;
    margin: 40px 0;
    padding: 20px;
    width: 100%;
    color: white;
}

.contactheading{
    margin: 100px;
    font-size: 50px;
    color: white;

}


img {
    width: 500px;
    height: 500px;
}

.information {
    word-wrap: normal;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    color: white;
    font-weight: 900;
    margin: 0;
    width: 750px;
}
.circlelink {
    display: inline-flex;
    margin: 0 150px;
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
}

.projectlinked{
    gap: 20px;
    text-align: center;
    text-decoration: none;
}
.projectlinked:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
#emailed a{
    text-decoration: none;
    color: white;
}

#emailed a:hover{
    text-decoration: underline;
}